.vs
/casemngmt.client/node_modules
/CaseMngmt.Model/obj
/CaseMngmt.Repository/obj
/CaseMngmt.Server/obj
/CaseMngmt.Service/obj
/CaseMngmt.Service/bin
/CaseMngmt.Server/bin
/CaseMngmt.Model/bin
/CaseMngmt.Service/bin/Debug/net6.0/CaseMngmt.Models.dll
/CaseMngmt.Server/bin/Debug/net6.0/CaseMngmt.Models.dll
/CaseMngmt.Server/bin/Debug/net6.0/CaseMngmt.Models.pdb
/CaseMngmt.Server/bin/Debug/net6.0/CaseMngmt.Repository.dll
/CaseMngmt.Server/bin/Debug/net6.0/CaseMngmt.Repository.pdb
/CaseMngmt.Server/bin/Debug/net6.0/CaseMngmt.Server.dll
/CaseMngmt.Server/bin/Debug/net6.0/CaseMngmt.Server.exe
/CaseMngmt.Server/bin/Debug/net6.0/CaseMngmt.Server.pdb
/CaseMngmt.Server/bin/Debug/net6.0/CaseMngmt.Service.dll
/CaseMngmt.Server/bin/Debug/net6.0/CaseMngmt.Service.pdb
/CaseMngmt.Repository/bin/Debug/net6.0/CaseMngmt.Models.dll
/CaseMngmt.Repository/bin/Debug/net6.0/CaseMngmt.Models.pdb
/CaseMngmt.Repository/bin/Debug/net6.0/CaseMngmt.Repository.dll
/CaseMngmt.Repository/bin/Debug/net6.0/CaseMngmt.Repository.pdb
/CaseMngmt.Model/bin/Debug/net6.0/CaseMngmt.Models.dll
/CaseMngmt.Model/bin/Debug/net6.0/CaseMngmt.Models.pdb
/CaseMngmt.Model/obj/Debug/net6.0/CaseMngmt.Models.dll
/CaseMngmt.Model/obj/Debug/net6.0/CaseMngmt.Models.pdb
/CaseMngmt.Model/obj/Debug/net6.0/CaseMngmt.Models.sourcelink.json
/CaseMngmt.Model/obj/Debug/net6.0/ref/CaseMngmt.Models.dll
/CaseMngmt.Model/obj/Debug/net6.0/refint/CaseMngmt.Models.dll
/CaseMngmt.Repository/obj/Debug/net6.0/CaseMngmt.Repository.dll
/CaseMngmt.Repository/obj/Debug/net6.0/CaseMngmt.Repository.pdb
/CaseMngmt.Repository/obj/Debug/net6.0/CaseMngmt.Repository.sourcelink.json
/CaseMngmt.Repository/obj/Debug/net6.0/ref/CaseMngmt.Repository.dll
/CaseMngmt.Repository/obj/Debug/net6.0/refint/CaseMngmt.Repository.dll
/CaseMngmt.Server/obj/Debug/net6.0/ref/CaseMngmt.Server.dll
/CaseMngmt.Server/obj/Debug/net6.0/refint/CaseMngmt.Server.dll
/CaseMngmt.Service/bin/Debug/net6.0/CaseMngmt.Models.pdb
/CaseMngmt.Service/bin/Debug/net6.0/CaseMngmt.Repository.dll
/CaseMngmt.Service/bin/Debug/net6.0/CaseMngmt.Repository.pdb
/CaseMngmt.Service/bin/Debug/net6.0/CaseMngmt.Service.dll
/CaseMngmt.Service/bin/Debug/net6.0/CaseMngmt.Service.pdb
/CaseMngmt.Server/obj/Debug/net6.0/apphost.exe
/CaseMngmt.Server/obj/Debug/net6.0/CaseMngmt.Server.dll
/CaseMngmt.Server/obj/Debug/net6.0/CaseMngmt.Server.pdb
/CaseMngmt.Service/obj/Debug/net6.0/ref/CaseMngmt.Service.dll
/CaseMngmt.Repository/obj/Debug/net6.0/CaseMngmt.Repository.csproj.CoreCompileInputs.cache
/CaseMngmt.Server/bin/Debug/net6.0/appsettings.json
/CaseMngmt.Model/obj/Debug/net6.0/CaseMngmt.Models.csproj.CoreCompileInputs.cache
/CaseMngmt.Server/obj/Debug/net6.0/CaseMngmt.Server.csproj.CoreCompileInputs.cache
/CaseMngmt.Service/obj/Debug/net6.0/CaseMngmt.Service.csproj.CoreCompileInputs.cache
